<html>
  <head></head>
  <body>

    <h1>Artists</h1>
    <% @artists.each do |artist| %>
    <div>
      Name:<%=artist.name%>
      Genre:<%=artist.genre%>
    </div>

    <% end %>
  </body>
</html>